In [1]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [2]:
# Type your code here
max(Employee_data.values())

45

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [3]:
# Type your code here
print (Employee_data.get(159))

None

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [4]:
# Type your code here
len(Employee_data)

74

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [41]:
# Type your code here
sum = 0
for i in Employee_data.values():
    sum +=i
    print("The average age is:- ", round (sum/len(Employee_data),3))

The average age is:-  0.589
The average age is:-  0.932
The average age is:-  1.521
The average age is:-  1.89
The average age is:-  2.247
The average age is:-  2.63
The average age is:-  3.027
The average age is:-  3.616
The average age is:-  3.959
The average age is:-  4.26
The average age is:-  4.562
The average age is:-  4.904
The average age is:-  5.315
The average age is:-  5.932
The average age is:-  6.247
The average age is:-  6.644
The average age is:-  7.027
The average age is:-  7.438
The average age is:-  7.822
The average age is:-  8.397
The average age is:-  8.932
The average age is:-  9.329
The average age is:-  9.904
The average age is:-  10.493
The average age is:-  11.068
The average age is:-  11.616
The average age is:-  11.986
The average age is:-  12.301
The average age is:-  12.712
The average age is:-  13.219
The average age is:-  13.493
The average age is:-  13.986
The average age is:-  14.356
The average age is:-  14.726
The average age is:-  15.027
The average age is:-  15.411
The average age is:-  15.726
The average age is:-  16.342
The average age is:-  16.712
The average age is:-  17.11
The average age is:-  17.562
The average age is:-  18.027
The average age is:-  18.384
The average age is:-  18.795
The average age is:-  19.315
The average age is:-  19.712
The average age is:-  20.041
The average age is:-  20.425
The average age is:-  20.89
The average age is:-  21.466
The average age is:-  21.863
The average age is:-  22.178
The average age is:-  22.603
The average age is:-  22.945
The average age is:-  23.562
The average age is:-  24.137
The average age is:-  24.507
The average age is:-  24.836
The average age is:-  25.205
The average age is:-  25.534
The average age is:-  25.918
The average age is:-  26.192
The average age is:-  26.644
The average age is:-  27.11
The average age is:-  27.616
The average age is:-  28.233
The average age is:-  28.712
The average age is:-  29.027
The average age is:-  29.63
The average age is:-  30.0
The average age is:-  30.411
The average age is:-  30.767
The average age is:-  31.137

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [6]:
# Type your code here
Employee_data

{101: 43,
 102: 25,
 103: 43,
 104: 31,
 105: 26,
 106: 28,
 107: 29,
 108: 43,
 109: 25,
 110: 22,
 111: 22,
 112: 25,
 113: 30,
 115: 45,
 116: 23,
 117: 29,
 118: 28,
 119: 30,
 120: 28,
 121: 42,
 122: 39,
 123: 29,
 124: 42,
 125: 43,
 126: 42,
 127: 40,
 128: 27,
 129: 23,
 130: 30,
 131: 37,
 132: 20,
 133: 36,
 134: 27,
 135: 27,
 136: 22,
 137: 28,
 138: 23,
 139: 45,
 140: 39,
 141: 29,
 142: 33,
 143: 39,
 145: 34,
 146: 26,
 147: 30,
 148: 38,
 149: 29,
 150: 24,
 151: 28,
 152: 34,
 153: 42,
 154: 29,
 155: 23,
 156: 31,
 158: 25,
 160: 45,
 161: 42,
 162: 27,
 163: 24,
 164: 20,
 166: 24,
 167: 28,
 168: 20,
 169: 33,
 170: 34,
 171: 37,
 172: 45,
 173: 35,
 174: 23,
 175: 44,
 176: 27,
 177: 30,
 178: 26,
 179: 27}

In [17]:
#Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
new_data = {104:27,140:27,164:27}
Employee_data.update(new_data)
Employee_data

{101: 43,
 102: 25,
 103: 43,
 104: 27,
 105: 26,
 106: 28,
 107: 29,
 108: 43,
 109: 25,
 110: 22,
 111: 22,
 112: 25,
 113: 30,
 115: 45,
 116: 23,
 117: 29,
 118: 28,
 119: 30,
 120: 28,
 121: 42,
 122: 39,
 123: 29,
 124: 42,
 125: 43,
 126: 42,
 127: 40,
 128: 27,
 129: 23,
 130: 30,
 131: 37,
 132: 20,
 133: 36,
 134: 27,
 135: 27,
 136: 22,
 137: 28,
 138: 23,
 139: 45,
 140: 27,
 141: 29,
 142: 33,
 143: 39,
 145: 34,
 146: 26,
 147: 30,
 148: 38,
 149: 29,
 150: 24,
 151: 28,
 152: 34,
 153: 42,
 154: 29,
 155: 23,
 156: 31,
 158: 25,
 160: 45,
 161: 42,
 162: 27,
 163: 24,
 164: 27,
 166: 24,
 167: 28,
 168: 20,
 169: 33,
 170: 34,
 171: 37,
 172: 45,
 173: 35,
 174: 23,
 175: 44,
 176: 27,
 177: 30,
 178: 26,
 179: 27}

In [18]:
Employee_data.pop(143)

39

In [27]:
#Average age after the modification to the data
sum = 0
for i in Employee_data.values():
    sum +=i
    print("The average age is:- ", round (sum/len(Employee_data),2))

The average age is:-  0.59
The average age is:-  0.93
The average age is:-  1.52
The average age is:-  1.89
The average age is:-  2.25
The average age is:-  2.63
The average age is:-  3.03
The average age is:-  3.62
The average age is:-  3.96
The average age is:-  4.26
The average age is:-  4.56
The average age is:-  4.9
The average age is:-  5.32
The average age is:-  5.93
The average age is:-  6.25
The average age is:-  6.64
The average age is:-  7.03
The average age is:-  7.44
The average age is:-  7.82
The average age is:-  8.4
The average age is:-  8.93
The average age is:-  9.33
The average age is:-  9.9
The average age is:-  10.49
The average age is:-  11.07
The average age is:-  11.62
The average age is:-  11.99
The average age is:-  12.3
The average age is:-  12.71
The average age is:-  13.22
The average age is:-  13.49
The average age is:-  13.99
The average age is:-  14.36
The average age is:-  14.73
The average age is:-  15.03
The average age is:-  15.41
The average age is:-  15.73
The average age is:-  16.34
The average age is:-  16.71
The average age is:-  17.11
The average age is:-  17.56
The average age is:-  18.03
The average age is:-  18.38
The average age is:-  18.79
The average age is:-  19.32
The average age is:-  19.71
The average age is:-  20.04
The average age is:-  20.42
The average age is:-  20.89
The average age is:-  21.47
The average age is:-  21.86
The average age is:-  22.18
The average age is:-  22.6
The average age is:-  22.95
The average age is:-  23.56
The average age is:-  24.14
The average age is:-  24.51
The average age is:-  24.84
The average age is:-  25.21
The average age is:-  25.53
The average age is:-  25.92
The average age is:-  26.19
The average age is:-  26.64
The average age is:-  27.11
The average age is:-  27.62
The average age is:-  28.23
The average age is:-  28.71
The average age is:-  29.03
The average age is:-  29.63
The average age is:-  30.0
The average age is:-  30.41
The average age is:-  30.77
The average age is:-  31.14